Repository confidential-containers/guest-components, changes with the owners that CODEOWNERS names for each.
All owners: @sameo, @jialez0, @jiangliu, @arronwy, @lumjjb, @Xynnn007

CODEOWNERS:

# Global owner for changes not matched by more specific rules
* @sameo

/attestation-agent/ @jialez0
/image-rs/ @sameo @jiangliu @arronwy @lumjjb @jialez0 @Xynnn007
/ocicrypt-rs/ @sameo @jiangliu @arronwy @lumjjb

add reproducible build for CDH
  rbi-CDH/Dockerfile
  rbi-CDH/README.md
  rbi-CDH/run.sh
Owners: @sameo

add reproducible build for CDH
  rbi-CDH/README.md
Owners: @sameo

kbs_protocol: fix typo with UnAuthorized error
  attestation-agent/kbs_protocol/src/error.rs
Owners: @jialez0

kbs_protocol: skip RCAR client tests when ProtocolVersion error occurs
  attestation-agent/kbs_protocol/src/client/rcar_client.rs
Owners: @jialez0

chore(deps): Bump kbs-types from 0.6.0 to 0.7.0
  Cargo.lock
  Cargo.toml
  attestation-agent/kbs_protocol/src/client/mod.rs
  attestation-agent/kbs_protocol/src/client/rcar_client.rs
  attestation-agent/kbs_protocol/src/keypair.rs
Owners: @sameo, @jialez0

kbs_protocol: handle ProtocolVersion error
  attestation-agent/kbs_protocol/src/client/rcar_client.rs
Owners: @jialez0

kbs_protocol: skip RCAR client tests when ProtocolVersion error occurs
  attestation-agent/kbs_protocol/src/client/rcar_client.rs
Owners: @jialez0

kbs_protocol: fix typo with UnAuthorized error
  attestation-agent/kbs_protocol/src/error.rs
Owners: @jialez0

chore(deps): Bump kbs-types from 0.6.0 to 0.7.0
  Cargo.lock
  Cargo.toml
  attestation-agent/kbs_protocol/src/client/mod.rs
  attestation-agent/kbs_protocol/src/client/rcar_client.rs
  attestation-agent/kbs_protocol/src/keypair.rs
Owners: @sameo, @jialez0

kbs_protocol: handle ProtocolVersion error
  attestation-agent/kbs_protocol/src/client/rcar_client.rs
Owners: @jialez0
